@import url('https://fonts.googleapis.com/css?family=Muli&displayswap');


* {
    box-sizing: border-box;
}

body {
    background: slategrey;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}